# GFF Processing Probabilities

Make the probabilities that will be used to sample intron lengths.

# Libraries

In [1]:
# Libraries


# Combinations
from itertools import combinations

# Pandas
import pandas as pd

Set the minimum and the maximum n.

In [6]:
# n
n_min = 26
n_max = 400

Make some lists to hold the results.

In [50]:
# Lists to keep results.
ns = []
ks = []
probabilities = []

Now loop over each n and find the product strings (unrefined method - ignores symmetry).

In [51]:
# Create 

# Each n.
for n in range(n_min, n_max + 1):
    
    # Top.
    top = list(range(1, n + 1))
    
    # 2s.
    twos = [2 for i in range(0, n)]
    
    # The top will always have less terms
    # than the bottom, so fill out with
    # 1s to make top and bottom the same
    # length.
    top = top + [1 for i in range(0, len(twos))]
    
    # Each k.
    for k in range(0, n + 1):
        
        # Bottom.
        bottom_one = list(range(1, k + 1))        
        bottom_two = list(range(1, n - k + 1))        
        combined = bottom_one + bottom_two + twos
        
        # Now a simple for loop to make products.
        
        # Note the lack of ordering terms to avoid
        # overflow errors.
        product = 1
        
        for i in range(0, len(top)):            
            product = product*(top[i]/combined[i])
        
        # Save the result.
        ns.append(n)
        ks.append(k)
        probabilities.append(product)

Now make a DataFrame and write it out.

In [59]:
# The results.
df = pd.DataFrame(
    {
        'n': ns,
        'k': ks,
        'p': probabilities
    }
)

# Write it out.
df.to_csv(
    'probabilities.tsv',
    index = False,
    sep = '\t'
)

In [60]:
df

         n    k              p
0       26    0   1.490116e-08
1       26    1   3.874302e-07
2       26    2   4.842877e-06
3       26    3   3.874302e-05
4       26    4   2.227724e-04
...    ...  ...            ...
80245  400  396  4.069087e-112
80246  400  397  4.099836e-114
80247  400  398  3.090328e-116
80248  400  399  1.549037e-118
80249  400  400  3.872592e-121

[80250 rows x 3 columns]